<html>
  <head>
    <title>Hegel</title>
    <style>
      main, img {
        margin: 20px auto;
        width: 50%;
        text-align: center;
      }
      input[type=file] {
        background-color: #ccc;
      }
      * {
        font-family: helvetica, sans-serif;
      }
    </style>
  </head>
  <body>
    <main>
      <img src="img/hegel.svg"/>
      <h1>Hegel</h1>
      <h2>upload camt, download v11</h2>
      <form action="/process" method="POST" enctype="multipart/form-data">
	<input type="file" name="file">
	<label><input type="checkbox" name="iban">+iban</label>
	<br/>
	<br/>
	<input type="submit" value="Uffeladde">
      </form>
    </main>
  </body>
</html>
